*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: auto !important;
}

header {
  background: white;
  padding: 0px 20px;
  margin-bottom: 45px;
  margin-top: 30px;
}

header .navbar {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

#brand {
  display: flex;
  height: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header .togglebutton {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  right: 1rem;
  margin-top: 10px;
}

header .togglebutton .bar {
  height: 3px;
  background-color: #000000;
  border-radius: 5px;
}

header .navbar .navlist {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  gap: 45px;
  list-style: none;
  
}

header .navbar .navlist a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}


header .navbar li {
  text-decoration: none;
  
}

#master {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 0px 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

#master .left-section {
  max-width: 531px;
}

#master .left-section .heading {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}

#master .left-section .paragraph {
  margin-bottom: 50px;
}

.master .left-section .input-container {
  display: flex;
  width: fit-content;
  height: 50px;
  border: 1px solid #6a6d6e;
  border-radius: 5px;
}

#master .left-section .input-container .input {
  border-radius: 5px;
  width: 260px;
  font-size: 16px;
  padding: 10px 20px 10px;
  outline: none;
}

#master .left-section .input-container .btn {
  border-radius: 5px;
  background: #000000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  padding: 10px 20px 10px;
}

.sideimage img {
  max-width: 100%;
}

@media (max-width: 991.98px) {
 header .togglebutton {
    display: flex;
  }

  header .navbar .navlist {
     display: none;
    width: 75%;
  }

  header .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  header .navbar.open .navlist {
    width: 75%;
    flex-direction: column;
    background-color: rgb(112, 180, 249);
    height: 50vh;
    padding: 60px;
    display: flex;
  }

  header .navbar.open .navlist a {
    margin: 50px;
    font-size: 25px;
    color: #000000;
  }

  #master {
    padding: 0rem 1rem;
    flex-direction: column;
    gap: 40px;
  }
  #master .left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #master .left-section .heading {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }
  #master .left-section .paragraph {
    text-align: center;
    line-height: 20px;
  }

  #master .left-section .input-container {
    height: 40px;
  }
  #master .left-section .input-container .input {
    width: fit-content;
  }

  #master .left-section .input-container .btn {
    width: fit-content;
    font-size: 14px;
  }
}
 
@media (max-width: 767.98px) {
  #master .left-section .input-container .btn {
    font-size: 12px;
  }
}